
<ion-content [fullscreen]="true">
  <main class="h-full w-full flex justify-center items-center bg-neutral-400 dark:bg-neutral-700">
    <section class="py-4 px-3 bg-neutral-100 w-3/4 flex flex-col justify-between border border-neutral-300 rounded-md shadow-md h-fit dark:bg-neutral-800 dark:border-neutral-900">
      <h1 class="text-xl  font-bold text-center">Registrate</h1>
      <form class="my-4" #loginForm="ngForm"> 
        <ion-list>      
          <ion-item>
            <ion-input [(ngModel)]="credenciales.nombre" name="nombre" label="Nombre Completo" labelPlacement="stacked" placeholder="Jose Perez"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="credenciales.email" name="email" label="Correo Electronico" labelPlacement="stacked" placeholder="jo.perez@duocuc.cl"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="credenciales.password" name="password" label="Contraseña" labelPlacement="stacked" placeholder="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-select aria-label="Que eres?" placeholder="Que eres?" [multiple]="false">
              <ion-select-option value="estudiante">Estudiante</ion-select-option>
              <ion-select-option value="chofer">Conductor</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-button class="px-2 my-4 text-neutral-200" expand="full" (click)="registrar()">Registrate</ion-button>
        </ion-list>
      </form>
      <div class="w-full flex justify-between items-center text-sm">
        <span [routerLink]="['/login']">Iniciar Sesión</span>
      </div>
    </section>
    <ion-alert [isOpen]="error" header="Ingresa tus credenciales" (didDismiss)="mostrarerror()" mode="ios"
    message="Para registrarte debes ingresar las credenciales" [buttons]="alertButtons"></ion-alert>
  </main>
</ion-content>
